@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #181818;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 300;
}

canvas {
  display: block;
}

#info {
  position: absolute;
  top: 20px;
  text-align: center;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  left: 5%;
  right: 5%;
  pointer-events: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
  text-wrap: pretty;
  max-width: 480px;
}

a {
  color: inherit;
  text-decoration: underline;
  pointer-events: auto;
}

#cardInfoDisplay {
  position: fixed;
  bottom: 20px;
  text-align: center;
  z-index: 100;
  left: 5%;
  right: 5%;
  pointer-events: none;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#cardInfoDisplay p {
  height: 3.5rem;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

#cardInfoDisplay .keywords-list {
  font-size: 0.5rem;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 2px;
}

#controls {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  z-index: 200;
}

#toggleViewButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
  width: 42px;
  height: 42px;
  opacity: 0.5;
}

#toggleViewButton img {
  filter: invert(1);
}

#toggleViewButton:hover {
  opacity: 0.8;
}

#toggleViewButton:active {
  opacity: 1.0;
}