@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-wrap: pretty;

}

body {
  font-family: 'Open Sans', sans-serif;
  color: #eee;
  background-color: #111;
  font-size: 13px;
  font-weight: 300;
}

h1 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

p {
  line-height: 1.6;
}

#container {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  color: #029CC7;
  text-decoration: none;
}

#info {
  position: absolute;
  bottom: 15px;
  right: 20px;
  text-align: right;
}