body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#info {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;
  user-select: none;
  pointer-events: none;
  z-index: 1;
  width: 100%;
}

a,
button,
input,
select {
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  #info {
    text-align: center;
  }
}